# Gradle
.gradle/
app/build/
kit/build/

# Maven
# Ignore all target directories (Maven build output)
**/target/**

# Re-allow target directories that are inside source code
!**/src/**/target/
!**/src/**/target/**
# IDEA
.theia/

# IDEA
.idea/
*.iml
out/

# Eclipse
.factorypath
.classpath
.project
.settings/
bin/

# Netbeans
.nb-gradle/

# Miscellaneous
.DS_Store
lib/
scenicView.properties
*.class
*.log
dist/
package/
/build/
.flattened-pom.xml
.interpolated-pom.xml
